body {
    background-image: linear-gradient(rgb(207, 175, 99), rgb(159, 87, 4));
    min-height: 1000px;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    max-width: 1000px;
    max-height: 900px;
    margin: auto;
    background-color: aliceblue;
}

/* Classes */

.afficheFilm {
    max-width: 100%;
    max-height: 100%;
}

.descripActeur {
    color: blue;
    font-style: italic;
}

.celluleDescirp {
    width: 30%;
}

.enGras {
    font-weight: bold;
}

.titre {
    height: 5%;
    text-align: center;
    font-size: 24px;
    background-color: rgb(102, 54, 40);
    color: aliceblue;
}

.synopsis {
    height: 20%;
}

.photoActeur {
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}

/* Ids */

#A1 {
    background-image: url("../images/Alfred_Molina.png");
}

#A2 {
    background-image: url("../images/Denholm_Elliott.png");
}

#A3 {
    background-image: url("../images/Harrison_Ford.png");
}

#A4 {
    background-image: url("../images/John_RhysDavies.png");
}

#A5 {
    background-image: url("../images/Karen_Allen.png");
}

#A6 {
    background-image: url("../images/Paul_Freeman.png");
}

#A7 {
    background-image: url("../images/Ronald_Lacey.png");
}

#distribution {
    background-color: rgb(159, 87, 4);
    color: cadetblue;
    font-size: 22px;
}